@inject FarhangbookStore.PublicExtentions.ConvertDate convertDate
<p class="dropdown-toggle" data-close-others="true">
    <i class="icon-calendar"></i>
    <span style="color: #737A99; font-weight: 300"> امروز ، @convertDate.ConvertMiladiToShamsi(DateTime.Now, "dddd d MMMM yyyy") </span>
</p>