<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
   data-close-others="true">
    <span class="username username-hide-on-mobile"> کاربرجاری : مدیر سیستم </span>
    <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
    <img alt="" class="img-circle" src="~/Admin/images/upload/userImage/defaultAvatar.jpg" />
</a>
<ul class="dropdown-menu dropdown-menu-default">
    <li>
        <a href="#">
            <i class="icon-user"></i> پروفایل من
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-calendar"></i> تنظیمات سایت
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-envelope-open"></i> سفارشات جدید
            <span class="badge badge-danger"> 1 </span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-rocket"></i> درخواست ها
            <span class="badge badge-success"> 2 </span>
        </a>
    </li>
    <li class="divider"> </li>
    <li>
        <a href="#">
            <i class="icon-lock"></i> قفل صفحه
        </a>
    </li>
    <li>
        <a href="#">
            <i class="icon-key"></i> خروج از سیستم
        </a>
    </li>
</ul>