@model FarhangbookStore.DataModel.Entities.TBL_ProductWriter
<!--begin:Form-->
<div class="modal-header bg-blue-steel bg-font-blue-steel">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-keyboard="false" data-backdrop="static"></button>
	<h5 class="modal-title"> ویرایش نویسنده یا مؤلف : <span class="badge bg-blue-ebonyclay bg-font-blue-ebonyclay"> @Model.WriterFaTitle </span></h5>
</div>

<form asp-action="UpdateWriter" method="post" data-ajax="true" data-Success="Refresh" enctype="multipart/form-data">
	<div class="modal-body">
		<!--نمایش آی دی  نویسنده جهت ویرایش-->
		<input type="hidden" asp-for="Writerid" />
		<div class="d-flex flex-column nav-group nav-group-outline mx-auto mb-10 p-10">
			<div class="row mt-10">
				<div class="col-lg-12 mb-10 mb-lg-0">
					<div class="row g-9 mb-5">
						<div class="col-md-12 fv-row">
							<label asp-for="WriterFaTitle" class="fs-6 mb-2 text-dark">نام نویسنده یا مؤلف به فارسی</label>
							<input type="text" asp-for="WriterFaTitle" class="form-control form-control-solid" autofocus="autofocus">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Inputs-->
	<!--begin::Actions-->
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline green-jungle"><i class="ki-duotone ki-plus fs-2"></i><span class="indicator-label">ویرایش اطلاعات</span></button>
		<button type="button" class="btn dark btn-outline" data-dismiss="modal">انصراف</button>
	</div>
	<!--end::Actions-->
</form>
<!--end:Form-->