@model FarhangbookStore.DataModel.Entities.TBL_ProductCategory
<!--begin:Form-->
<div class="modal-header bg-red-thunderbird bg-font-red-thunderbird">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-keyboard="false" data-backdrop="static"></button>
	<h5 class="modal-title"> غیرفعال کردن زیر دسته: <span class="badge bg-blue-ebonyclay bg-font-blue-ebonyclay"> @Model.CategoryFaTitle</span></h5>
</div>

<form asp-action="DeleteCategory" method="post" data-ajax="true" data-Success="Refresh" enctype="multipart/form-data">
	<!--نمایش آی دی زیردسته دوم جهت ویرایش-->
	<input type="hidden" asp-for="SubCategory" />
	<!--نمایش آی دی زیردسته اول جهت یافتن آی دی دوم-->
	<input type="hidden" asp-for="Categoryid" />
	<div class="modal-body">
		<div class="alert alert-warning">
			<strong>هشدار!</strong> در صورت غیرفعال کردن دسته بندی اصلی، کلیه زیردسته ها غیرفعال خواهد شد.
		</div>
		<div class="d-flex flex-column nav-group nav-group-outline mx-auto mb-10 p-10">
			<div class="row mt-10">
				<div class="col-lg-12 mb-10 mb-lg-0">
					<div class="row g-9 mb-5">
						<div class="col-md-6 fv-row">
							<input type="text" readonly="readonly" asp-for="CategoryFaTitle" class="form-control form-control-solid" autofocus="autofocus">
						</div>
						<div class="col-md-6 EN__Font fv-row">
							<input type="text" readonly="readonly" asp-for="CategoryEnTitle" class="form-control form-control-solid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end::Inputs-->
	<!--begin::Actions-->
	<div class="modal-footer">
		<button type="submit" class="btn btn-outline red-thunderbird"><i class="fa fa-ban"></i><span class="indicator-label">غیرفعال کردن دسته بندی</span></button>
		<button type="button" class="btn dark btn-outline" data-dismiss="modal">انصراف</button>
	</div>
	<!--end::Actions-->
</form>
<!--end:Form-->