@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h2 class="display-4">(بانک کتاب شیراز - فروشگاه اینترنتی (نسخه آزمایشی</h2>
        <p> کاربرگرامی : سیستم در حال حاظر در دست توسعه و طراحی می باشد - <a href="http://webnext.ir" target="_blank"> اطلاعات بیشتر </a>.</p>
        <a href="Administrator" class="btn" style="margin-bottom:10px; background-color:#D1ECF1; color:black; border-radius:5px;" target="_blank">ورود به پنل مدیریت</a>
    </div>
    <p>Learn about <a href="#">Building Web apps with ASP.NET Core 7.0</a>.</p>
</div>
