<a href="index.html">
    <img src="~/Admin/images/Logo-Admin-md.png" alt="logo" class="logo-default" />
</a>
<div class="menu-toggler sidebar-toggler">
    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
</div>