    <!-- BEGIN LARGE MAIN MODAL-->
<div id="MainModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" id="ModalContent">
        </div>
    </div>
</div>
<!-- END  LARGE MAIN MODAL-->
<!-- BEGIN LARGE MAIN MODAL-->
    <div id="MainLargeModal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="ModalLargeContent">


            </div>
        </div>
    </div>
<!-- END  LARGE MAIN MODAL-->
<!-- BEGIN SMALL MAIN MODAL-->
    <div id="MainSmallModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" id="ModalSmallContent">

            </div>
        </div>
    </div>
<!-- END SMALL MAIN MODAL-->