<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse" data-keep-expanded="false" data-auto-scroll="true">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start active">
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">پیشخوان</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="heading">
            <h3 class="uppercase">ثبت و مدیریت اطلاعات</h3>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-folder-alt"></i>
                <span class="title">اطلاعات کتاب</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="Product" asp-action="ShowallProduct" class="nav-link">
                        <span class="title">محصولات</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="Category" asp-action="showAllCategory" class="nav-link ">
                        <span class="title">دسته بندی ها</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="GroupBooks" asp-action="ShowAllGroupBooks" class="nav-link ">
                        <span class="title">گروه بندی کتاب ها</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="Product" asp-action="ShowAllPropertyname" class="nav-link ">
                        <span class="title"> خصوصیات و ویژه گی ها</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="Publisher" asp-action="ShowAllPublisher" class="nav-link ">
                        <span class="title">انتشارات</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="Writer" asp-action="ShowAllWriter" class="nav-link ">
                        <span class="title">نویسنده گان (مؤلف)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Administrator" asp-controller="ProductSizeBook" asp-action="ShowAllSizeBook" class="nav-link ">
                        <span class="title">سایز کتاب (قطع)</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="heading">
            <h3 class="uppercase">تنظیمات کاربران</h3>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">کاربران</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">ثبت کاربر</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">مدیریت کاربران</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">دسترسی های کاربران</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="heading">
            <h3 class="uppercase">تنظیمات سایت</h3>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-picture"></i>
                <span class="title">تنظیمات  محتوای فروشگاه</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">اسلایدرها</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">چند رسانه ای</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">بنرها</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">تنظیمات سایت</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">پنل پیامک</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">گزارشات</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">دسترسی ها</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <span class="title">اطلاعات سایت</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- END SIDEBAR -->